<p>Eat-Da-Burger!</p>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>Burgers Da Eat</p>
            {{#each burger}}
                {{#unless this.devoured }}
                    <p>{{this.burger_name}}
                    <form action="burgers/update/{this.id}"?_method="PUT" method="POST">
                        <input type="hidden" name="eatup" value="true">
                        <button type="submit" class="btn">Eat up!</button>
                    </form>
                    </p>
                {{/unless}}
            {{/each}}
        </div>
        <div class="col-sm-6">
            <p>Burgers Devoured</p>
            {{#each burger}}
                {{#if this.devoured}}
                <p>
                    {{this.burger_name}}
                </p>
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>Create a New Burger!</p>
            <form action="burgers/create" method="POST">
                <div class="form-group">
                    <label for="burger">New Burger</label>
                    {{!-- <input type="text" id="newBurger" name="name"> --}}
                    <textarea class="form-control input-group" aria-label="With textarea"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>